[Unit]
Description=FFT Display control service

[Service]
ExecStart=/home/pi/share/rpi-sound/c/build/fft-c 3 1
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=fft_display.service
